<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="static/js/temp.js">

	
	<title>bumblebee</title>
</head>
<body>
	

	<style>body{
	background-color: yellow}</style>
	<div class="center">
		<h4>BumbleBee</h4>
	</div>
	<!-- <img src="static/css/style.css/logo.png"> -->
	<br>
	<div class="animation">
		<img src="static/css/logo.png" >
	</div>
	<div class="center">
	<a href="/join_band"><button class="btn btn-outline-dark">look for a band</button></a>
	<!-- <button>find an event</button> -->
	</div>
	<div class="center1">
	<!-- <a href="/sign_in"><button>sign in</button></a> -->
	<a href="/sign_up"><button class="btn btn-outline-dark">Sign up</button></a>
	</div>
</body
></html>