<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="static/js/temp.js">
	<link rel="shortcut icon" type="image/jpg" href="static/css/icon.png">
	
	<title>Bumblebee</title>
</head>
<body>
	

	<style>body{
	background-color: yellow}
h1,h2,h3,h5,h6,input,p,.container,a{ font-family:"Comic Sans MS"}</style>
	<div class="center">
		<h4>BumbleBee</h4>
	</div>
	<!-- <img src="static/css/style.css/logo.png"> -->
	<br>
	<div class="animation">
		<img src="static/css/logo.png" >
	</div>
<div class="center2">
		<h5 style="font-size: 20px">I'm Looking For</h5>
	</div>
            {% for instrument in instruments %}
                <a href="/join_band/{{instrument}}">
        		<button  type="button" class="btn btn-outline-dark" >{{instrument}}</button>
                </a>
            
            {%endfor%} 
	<!-- <button>find an event</button> -->
	</div>
	<div class="center1">
	<!-- <a href="/sign_in"><button>sign in</button></a> -->
	<a href="/sign_up"><button class="btn btn-outline-dark">Register</button></a>
	</div>
</body
></html>