<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/jpg" href="static/css/icon.png">
	<title>Register</title>
</head>
<style type="text/css">h1,h2,h3,h5,h6,input,p,.container,a{ font-family:"Comic Sans MS"}</style>
<body style="background-color: yellow">
	<h4 style="font-family:Comic Sans MS">BumbleBee</h4>
	<a href="/"><button class="btn btn-outline-dark" >look for a band</button></a> 
	<!-- <button>find an event</button> -->
	<br>
	<!-- <img src=""> -->
	<br>
	<form action="/sign_up" method="post">
		
		<!-- <input type="password" name="password" placeholder="New Password"> -->
		<br>
		<br>
		<h3>Your details</h3>
		<input type="text" name="name" placeholder="Name" style="  border: 2px solid black;
  border-radius: 4px; ">
		<input type="text" name="age" placeholder="Age" style="  border: 2px solid black;
  border-radius: 4px;">
		<input type="text" name="email" placeholder="E-mail" style="  border: 2px solid black;
  border-radius: 4px;">		
	    <h3>skill level</h3>
	    <label class="container">- Begginer
			<input type="radio" name="skill_level" value="begginer">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Intermediate
			<input type="radio" name="skill_level" value="intermediate">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Advanced
			<input type="radio" name="skill_level" value="advanced">
			<span class="checkmark"></span>
		</label>
		
		<br>
		<h3>preferred genre</h3	>
		<br>
		<label class="container">- Rock
			<input type="radio" name="genre" value="rock">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Jazz
			<input type="radio" name="genre" value="jazz">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Blues
			<input type="radio" name="genre" value="blues">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Pop
			<input type="radio" name="genre" value="pop">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Metal
			<input type="radio" name="genre" value="metal">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Country
			<input type="radio" name="genre" value="country">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Regagae
			<input type="radio" name="genre" value="reggae">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Classical
			<input type="radio" name="genre" value="classical">
			<span class="checkmark"></span>
		</label>
		<br>
		<h3>instrument</h3>
		<label class="container">- Acoustic Guitar
			<input type="radio" name="instrument" value="Acoustic Guitar">
			<span class="checkmark"></span>
		</label>
				<label class="container">- Electric Guitar
			<input type="radio" name="instrument" value="Electric Guitar">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Bass
			<input type="radio" name="instrument" value="Bass">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Drums
			<input type="radio" name="instrument" value="Drums">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Piano
			<input type="radio" name="instrument" value="Piano">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Violin
			<input type="radio" name="instrument" value="Violin">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Vocals
			<input type="radio" name="instrument" value="Vocals">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Saxophone
			<input type="radio" name="instrument" value="Saxophone">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Oud
			<input type="radio" name="instrument" value="Oud">
			<span class="checkmark"></span>
		</label>
				<label class="container">- Trumpet
			<input type="radio" name="instrument" value="Trumpet">
			<span class="checkmark"></span>
		</label>
				<label class="container">- Flute
			<input type="radio" name="instrument" value="Flute">
			<span class="checkmark"></span>
		</label>
				<label class="container">- Musical Traingles
			<input type="radio" name="instrument" value="Musical Traingles">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Kazoo
			<input type="radio" name="instrument" value="Kazoo">
			<span class="checkmark"></span>
		</label>
		<label class="container">- Other
			<input type="radio" name="instrument" value="Other">
			<span class="checkmark"></span>
		</label>

		<input type="text" name="notes" placeholder="Notes" style="height: 100px;position: relative;left: 10px;  border: 2px solid black;
  border-radius: 4px;">
		<br>
		<input type="submit" name="submit" value="Register" style="position: relative;left: 10px" >
	</form>	
	<br>

</body
></html>